{% extends 'base.html.twig' %}
{% block nav %}
<a class="nav-link" href="/updatemdp">Modifier Mdp</a>
{% endblock %}
{% block body %}
	<div style="margin-top:50px">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col"> Matiere </th>
           <th scope="col"> Note </th>
	    </tr>
	  </thead>
      {% for note in notes %}
	  <tbody>
	  	{% if note.valeur>=12 %}
	    	<tr class="table-success">
	    {% else %}
	    	<tr class="table-danger">
	    {% endif %}
            <td>{{note.id}}</td>
	    	<td>{{note.matiere}}</td>
            <td>{{note.valeur}}</td>
	    </tr>
	    
	  </tbody>
      {% endfor %}
	</table>
	</div>
{% endblock %}